<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite1" verbose="1">
<listeners>
		<!-- <listener class-name="com.project.Reporter.Listener"/> -->
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
	</listeners>

	<test name="verifyLogin">
		<classes>
			<class name="com.project.Reporter.AppTest" />
		</classes>
	</test>
</suite>

